@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <div>
        <img src="./img/Logo Front.png" alt="Logo" style="height:325px;">
    </div>
    <p>Welcome to Gospel Movie Management</p>
</div>